<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="boost" version="1.83.0" targetFramework="native" />
  <package id="boost_container-vc143" version="1.83.0" targetFramework="native" />
  <package id="boost_date_time-vc140" version="1.83.0" targetFramework="native" />
  <package id="boost_filesystem-vc140" version="1.83.0" targetFramework="native" />
  <package id="boost_json-vc143" version="1.83.0" targetFramework="native" />
  <package id="boost_log-vc141" version="1.83.0" targetFramework="native" />
  <package id="boost_regex-vc142" version="1.83.0" targetFramework="native" />
  <package id="boost_system-vc140" version="1.83.0" targetFramework="native" />
  <package id="boost_thread-vc120" version="1.83.0" targetFramework="native" />
  <package id="NpgsqlBulkCopy" version="1.2.0" targetFramework="native" />
</packages>